.no-stock {
  color: red;
}

.main-titles {
  height: 20px;
  margin-left: 10px;
}

.main-titles,
.name-price-container {
  display: flex;
  flex-direction: row;
}

.name-price-container {
  height: 25px;
}

.left-title {
  margin-left: 30px;
  margin-right: 45px;
}

.item-price {
  margin-left: 45px;
}

h4 {
  height: 0;
}